<a href="https://colab.research.google.com/github/crgeier/Grupo_2_DatosVivos_TP4/blob/Entrega-Ejercicio/TP_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Consigna 1

## 1) Cargamos los datos!

In [1]:
#HABILITO IMPORTACION DESDE DRIVE
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
#!pip install funpymodeling

df = pd.read_csv('/content/drive/MyDrive/BOOTCAMP - GERIES 4/TP4/jueves_tarea__dataset/encuesta-anual-hogares-2019.csv', sep = ',')

In [3]:
df.head(5)

,id,nhogar,miembro,comuna,dominio,edad,sexo,parentesco_jefe,situacion_conyugal,num_miembro_padre,...,ingreso_per_capita_familiar,estado_educativo,sector_educativo,nivel_actual,nivel_max_educativo,años_escolaridad,lugar_nacimiento,afiliacion_salud,hijos_nacidos_vivos,cantidad_hijos_nac_vivos
0,1,1,1,5,Resto de la Ciudad,18,Mujer,Jefe,Soltero/a,Padre no vive en el hogar,...,9000,Asiste,Estatal/publico,Universitario,Otras escuelas especiales,12,PBA excepto GBA,Solo obra social,No,No corresponde
1,1,1,2,5,Resto de la Ciudad,18,Mujer,Otro no familiar,Soltero/a,Padre no vive en el hogar,...,9000,Asiste,Estatal/publico,Universitario,Otras escuelas especiales,12,Otra provincia,Solo plan de medicina prepaga por contratación...,No,No corresponde
2,2,1,1,2,Resto de la Ciudad,18,Varon,Jefe,Soltero/a,Padre no vive en el hogar,...,33333,Asiste,Privado religioso,Universitario,Otras escuelas especiales,12,CABA,Solo plan de medicina prepaga por contratación...,NaN,No corresponde
3,2,1,2,2,Resto de la Ciudad,50,Mujer,Padre/Madre/Suegro/a,Viudo/a,No corresponde,...,33333,No asiste pero asistió,No corresponde,No corresponde,Secundario/medio comun,17,CABA,Solo prepaga o mutual via OS,Si,2
4,2,1,3,2,Resto de la Ciudad,17,Varon,Otro familiar,Soltero/a,Padre no vive en el hogar,...,33333,Asiste,Privado religioso,Secundario/medio comun,EGB (1° a 9° año),10,CABA,Solo plan de medicina prepaga por contratación...,NaN,No corresponde

## 2) Inspección inicial

Eliminen las columnas id y hijos_nacidos_vivos

In [4]:
#!pip install funpymodeling
from funpymodeling.exploratory import freq_tbl, status

In [ ]:
df.shape

(14319, 31)

In [ ]:
status(df)

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,id,0,0.000000,0,0.000000,5795,int64
1,nhogar,0,0.000000,0,0.000000,7,int64
2,miembro,0,0.000000,0,0.000000,19,int64
3,comuna,0,0.000000,0,0.000000,15,int64
4,dominio,0,0.000000,0,0.000000,2,object
5,edad,0,0.000000,128,0.008939,101,int64
6,sexo,0,0.000000,0,0.000000,2,object
7,parentesco_jefe,0,0.000000,0,0.000000,9,object
8,situacion_conyugal,1,0.000070,0,0.000000,7,object
9,num_miembro_padre,0,0.000000,0,0.000000,9,object
10,num_miembro_madre,0,0.000000,0,0.000000,11,object
11,estado_ocupacional,0,0.000000,0,0.000000,3,object
12,cat_ocupacional,0,0.000000,0,0.000000,5,object
13,calidad_ingresos_lab,0,0.000000,0,0.000000,4,object
14,ingreso_total_lab,0,0.000000,6963,0.486277,440,int64
15,calidad_ingresos_no_lab,0,0.000000,0,0.000000,4,object
16,ingreso_total_no_lab,0,0.000000,10247,0.715623,375,int64
17,calidad_ingresos_totales,0,0.000000,0,0.000000,4,object
18,ingresos_totales,0,0.000000,4295,0.299951,678,int64
19,calidad_ingresos_familiares,0,0.000000,0,0.000000,3,object
20,ingresos_familiares,0,0.000000,76,0.005308,960,int64
21,ingreso_per_capita_familiar,0,0.000000,76,0.005308,1257,int64
22,estado_educativo,0,0.000000,0,0.000000,3,object
23,sector_educativo,3,0.000210,0,0.000000,4,object
24,nivel_actual,0,0.000000,0,0.000000,14,object
25,nivel_max_educativo,1054,0.073608,0,0.000000,7,object
26,años_escolaridad,62,0.004330,0,0.000000,20,object
27,lugar_nacimiento,1,0.000070,0,0.000000,7,object
28,afiliacion_salud,4,0.000279,0,0.000000,5,object
29,hijos_nacidos_vivos,7784,0.543613,0,0.000000,2,object
30,cantidad_hijos_nac_vivos,0,0.000000,0,0.000000,14,object

In [ ]:
df=df.drop(['id', 'hijos_nacidos_vivos'], axis=1)

## 3) Discretización
- Para las siguientes columnas discreticen por igual frecuencia e igual rango.
    <br>`ingresos_familiares` con q=8
    <br>`ingreso_per_capita_familiar` con q=10

- En algunas situaciones hay ciertos elementos que se repiten al momento de discretizar, una forma de eliminar duplicados es con el argumento `duplicates='drop'`.
    <br><br>Para las siguientes columnas `ingreso_total_lab` y `ingreso_total_no_lab` consideren:
    ```
    data['ingreso_total_lab'] = pd.qcut(data['ingreso_total_lab'], q=10, duplicates='drop')
    data['ingreso_total_no_lab'] = pd.qcut(data['ingreso_total_no_lab'], q=4, duplicates='drop')
    ```

- Para la columna `edad` discreticen usando igual distancia con `bins=5`.

In [8]:
df.copy

<bound method NDFrame.copy of          id  nhogar  miembro  comuna             dominio  edad   sexo  \
0         1       1        1       5  Resto de la Ciudad    18  Mujer
1         1       1        2       5  Resto de la Ciudad    18  Mujer
2         2       1        1       2  Resto de la Ciudad    18  Varon
3         2       1        2       2  Resto de la Ciudad    50  Mujer
4         2       1        3       2  Resto de la Ciudad    17  Varon
...     ...     ...      ...     ...                 ...   ...    ...
14314  5794       1        1      10  Resto de la Ciudad    99  Varon
14315  5794       1        2      10  Resto de la Ciudad    78  Mujer
14316  5794       1        3      10  Resto de la Ciudad    60  Mujer
14317  5794       1        4      10  Resto de la Ciudad    92  Mujer
14318  5795       1        1       2  Resto de la Ciudad   100  Mujer

            parentesco_jefe                situacion_conyugal  \
0                      Jefe                         Soltero/a
1          Otro no familiar                         Soltero/a
2                      Jefe                         Soltero/a
3      Padre/Madre/Suegro/a                           Viudo/a
4             Otro familiar                         Soltero/a
...                     ...                               ...
14314                  Jefe                          Casado/a
14315         Otro familiar                         Soltero/a
14316   Hijo/a - Hijastro/a  Separado/a de unión o matrimonio
14317     Conyugue o pareja                          Casado/a
14318                  Jefe                           Viudo/a

               num_miembro_padre  ... ingreso_per_capita_familiar  \
0      Padre no vive en el hogar  ...                        9000
1      Padre no vive en el hogar  ...                        9000
2      Padre no vive en el hogar  ...                       33333
3                 No corresponde  ...                       33333
4      Padre no vive en el hogar  ...                       33333
...                          ...  ...                         ...
14314             No corresponde  ...                       14250
14315             No corresponde  ...                       14250
14316             No corresponde  ...                       14250
14317             No corresponde  ...                       14250
14318             No corresponde  ...                       82000

             estado_educativo   sector_educativo            nivel_actual  \
0                      Asiste    Estatal/publico           Universitario
1                      Asiste    Estatal/publico           Universitario
2                      Asiste  Privado religioso           Universitario
3      No asiste pero asistió     No corresponde          No corresponde
4                      Asiste  Privado religioso  Secundario/medio comun
...                       ...                ...                     ...
14314  No asiste pero asistió     No corresponde          No corresponde
14315  No asiste pero asistió     No corresponde          No corresponde
14316  No asiste pero asistió     No corresponde          No corresponde
14317  No asiste pero asistió     No corresponde          No corresponde
14318  No asiste pero asistió     No corresponde          No corresponde

             nivel_max_educativo años_escolaridad   lugar_nacimiento  \
0      Otras escuelas especiales               12    PBA excepto GBA
1      Otras escuelas especiales               12     Otra provincia
2      Otras escuelas especiales               12               CABA
3         Secundario/medio comun               17               CABA
4              EGB (1° a 9° año)               10               CABA
...                          ...              ...                ...
14314                  Sala de 5                5  Pais no limitrofe
14315          EGB (1° a 9° año)                9        Partido GBA
14316          Primario especial               12               CABA
14317             Primario comun                7               CABA
14318     Secundario/medio comun               15               CABA

                                        afiliacion_salud  hijos_nacidos_vivos  \
0                                       Solo obra social                   No
1      Solo plan de medicina prepaga por contratación...                   No
2      Solo plan de medicina prepaga por contratación...                  NaN
3                           Solo prepaga o mutual via OS                   Si
4      Solo plan de medicina prepaga por contratación...                  NaN
...                                                  ...                  ...
14314                                   Solo obra social                  NaN
14315                                   Solo obra social                   No
14316                                   Solo obra social                   Si
14317                                   Solo obra social                   Si
14318                                   Solo obra social                   Si

      cantidad_hijos_nac_vivos
0               No corresponde
1               No corresponde
2               No corresponde
3                            2
4               No corresponde
...                        ...
14314           No corresponde
14315           No corresponde
14316                        2
14317                        1
14318                        1

[14319 rows x 31 columns]>

In [9]:
# Discretizamos: ingresos_familiares
ingresos_familiares_cat=pd.qcut(df['ingresos_familiares'], q=8)

In [10]:
df['ingresos_familiares']

0         18000
1         18000
2        100000
3        100000
4        100000
          ...
14314     57000
14315     57000
14316     57000
14317     57000
14318     82000
Name: ingresos_familiares, Length: 14319, dtype: int64

In [11]:
print(ingresos_familiares_cat.value_counts())
status(ingresos_familiares_cat)

ingresos_familiares
(54000.0, 70000.0]       1905
(30000.0, 42000.0]       1841
(20800.0, 30000.0]       1810
(-0.001, 20800.0]        1796
(124000.0, 1000000.0]    1788
(70000.0, 90000.0]       1781
(42000.0, 54000.0]       1721
(90000.0, 124000.0]      1677
Name: count, dtype: int64

              variable  q_nan  p_nan  q_zeros  p_zeros  unique      type
0  ingresos_familiares      0    0.0        0      0.0       8  category

In [12]:
# Discretizamos: ingreso_per_capita_familiar

ingreso_per_capita_familiar_cat = pd.qcut(df['ingreso_per_capita_familiar'], q=10)

In [13]:
df['ingreso_per_capita_familiar']

0         9000
1         9000
2        33333
3        33333
4        33333
         ...
14314    14250
14315    14250
14316    14250
14317    14250
14318    82000
Name: ingreso_per_capita_familiar, Length: 14319, dtype: int64

In [14]:
print(ingreso_per_capita_familiar_cat.value_counts())
status(ingreso_per_capita_familiar_cat)

ingreso_per_capita_familiar
(24000.0, 30000.0]      1594
(8700.0, 12000.0]       1554
(19900.0, 24000.0]      1460
(-0.001, 5400.0]        1434
(15016.0, 19900.0]      1432
(52340.0, 1000000.0]    1432
(5400.0, 8700.0]        1431
(38300.0, 52340.0]      1430
(12000.0, 15016.0]      1309
(30000.0, 38300.0]      1243
Name: count, dtype: int64

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,ingreso_per_capita_familiar,0,0.0,0,0.0,10,category

In [15]:
#Para las siguientes columnas ingreso_total_lab y ingreso_total_no_lab consideren:

df['ingreso_total_lab'] = pd.qcut(df['ingreso_total_lab'], q=10, duplicates='drop')
df['ingreso_total_no_lab'] = pd.qcut(df['ingreso_total_no_lab'], q=4, duplicates='drop')

In [16]:
# Para la columna edad discreticen usando igual distancia con bins=5.

edad_cat=pd.cut(df['edad'], bins=5)

In [17]:
edad_cat.value_counts()

edad
(20.0, 40.0]     4204
(-0.1, 20.0]     3669
(40.0, 60.0]     3452
(60.0, 80.0]     2448
(80.0, 100.0]     546
Name: count, dtype: int64

In [18]:
# CREO UN NUEVO DATA SET Y AGREGO LAS COLUMNAS NUEVAS
df2 = df
df2['ingreso_per_capita_familiar'] = ingreso_per_capita_familiar_cat
df2['ingresos_familiares'] = ingresos_familiares_cat
df2['edad'] = edad_cat

In [19]:
status(df2)

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,id,0,0.000000,0,0.000000,5795,int64
1,nhogar,0,0.000000,0,0.000000,7,int64
2,miembro,0,0.000000,0,0.000000,19,int64
3,comuna,0,0.000000,0,0.000000,15,int64
4,dominio,0,0.000000,0,0.000000,2,object
5,edad,0,0.000000,0,0.000000,5,category
6,sexo,0,0.000000,0,0.000000,2,object
7,parentesco_jefe,0,0.000000,0,0.000000,9,object
8,situacion_conyugal,1,0.000070,0,0.000000,7,object
9,num_miembro_padre,0,0.000000,0,0.000000,9,object
10,num_miembro_madre,0,0.000000,0,0.000000,11,object
11,estado_ocupacional,0,0.000000,0,0.000000,3,object
12,cat_ocupacional,0,0.000000,0,0.000000,5,object
13,calidad_ingresos_lab,0,0.000000,0,0.000000,4,object
14,ingreso_total_lab,0,0.000000,0,0.000000,6,category
15,calidad_ingresos_no_lab,0,0.000000,0,0.000000,4,object
16,ingreso_total_no_lab,0,0.000000,0,0.000000,2,category
17,calidad_ingresos_totales,0,0.000000,0,0.000000,4,object
18,ingresos_totales,0,0.000000,4295,0.299951,678,int64
19,calidad_ingresos_familiares,0,0.000000,0,0.000000,3,object
20,ingresos_familiares,0,0.000000,0,0.000000,8,category
21,ingreso_per_capita_familiar,0,0.000000,0,0.000000,10,category
22,estado_educativo,0,0.000000,0,0.000000,3,object
23,sector_educativo,3,0.000210,0,0.000000,4,object
24,nivel_actual,0,0.000000,0,0.000000,14,object
25,nivel_max_educativo,1054,0.073608,0,0.000000,7,object
26,años_escolaridad,62,0.004330,0,0.000000,20,object
27,lugar_nacimiento,1,0.000070,0,0.000000,7,object
28,afiliacion_salud,4,0.000279,0,0.000000,5,object
29,hijos_nacidos_vivos,7784,0.543613,0,0.000000,2,object
30,cantidad_hijos_nac_vivos,0,0.000000,0,0.000000,14,object

## 4) Preparación de datos

- Cambien el tipo de dato a `str` de las siguientes columnas: `comuna` y `nhogar`.
  <br>_¿Por qué hacemos esto?_ Para estas columnas el número es simplemente una connotación, para representar una comuna por ejemplo pero no hay una relación numérica entre ellos.

In [20]:
df2['comuna'] = df2['comuna'].astype(str)

In [21]:
df2['nhogar'] = df2['nhogar'].astype(str)

- _¿Qué esperas como valor en la columna `años_escolaridad`?_ Número enteros pero no siempre es así, cada entidad o empresa tiene diferentes formas de rellenar una encuesta.
    <br>Evalua lo siguiente: `data['años_escolaridad'].unique()`, vas a poder ver los valores únicos en la columna. Donde destacamos que todos son `object/string`.

In [22]:
df2['años_escolaridad'].unique()

array(['12', '17', '10', '8', 'Ningun año de escolaridad aprobado', '11',
       '9', '13', '7', '16', '14', '15', '5', '6', '2', '19', '4', '1',
       '3', '18', nan], dtype=object)

- Reemplazar `Ningun año de escolaridad aprobado` por un '0'.

In [23]:
#Si hacemos esto de una, marca error:
df2['años_escolaridad'] = df2['años_escolaridad'].replace('Ningun año de escolaridad aprobado', '0')
#Primero lo pasamos a entero y después hacemos el replace.
df2['años_escolaridad'] = df2['años_escolaridad'].astype(float).astype("Int32")

In [24]:
print(f'Los datos nulos son: {df2['años_escolaridad'].isna().sum()}')
df2['años_escolaridad'].unique()

Los datos nulos son: 62

<IntegerArray>
[12, 17, 10, 8, 0, 11, 9, 13, 7, 16, 14, 15, 5, 6, 2, 19, 4, 1, 3, 18, <NA>]
Length: 21, dtype: Int32

- Discreticen para la columna `años_escolaridad` por igual frecuencia e igual rango con un `q=5`

In [25]:
años_escolaridad_cat = pd.qcut(df2['años_escolaridad'], q=5)

In [26]:
años_escolaridad_cat.value_counts()

años_escolaridad
(-0.001, 7.0]    3851
(12.0, 16.0]     3037
(11.0, 12.0]     2824
(16.0, 19.0]     2570
(7.0, 11.0]      1975
Name: count, dtype: int64

In [27]:
# AGREGO LAS COLUMNAS NUEVAS Y ELIMINO LAS ANTERIORES

df['años_escolaridad'] = años_escolaridad_cat
status(df2)

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,id,0,0.000000,0,0.000000,5795,int64
1,nhogar,0,0.000000,0,0.000000,7,object
2,miembro,0,0.000000,0,0.000000,19,int64
3,comuna,0,0.000000,0,0.000000,15,object
4,dominio,0,0.000000,0,0.000000,2,object
5,edad,0,0.000000,0,0.000000,5,category
6,sexo,0,0.000000,0,0.000000,2,object
7,parentesco_jefe,0,0.000000,0,0.000000,9,object
8,situacion_conyugal,1,0.000070,0,0.000000,7,object
9,num_miembro_padre,0,0.000000,0,0.000000,9,object
10,num_miembro_madre,0,0.000000,0,0.000000,11,object
11,estado_ocupacional,0,0.000000,0,0.000000,3,object
12,cat_ocupacional,0,0.000000,0,0.000000,5,object
13,calidad_ingresos_lab,0,0.000000,0,0.000000,4,object
14,ingreso_total_lab,0,0.000000,0,0.000000,6,category
15,calidad_ingresos_no_lab,0,0.000000,0,0.000000,4,object
16,ingreso_total_no_lab,0,0.000000,0,0.000000,2,category
17,calidad_ingresos_totales,0,0.000000,0,0.000000,4,object
18,ingresos_totales,0,0.000000,4295,0.299951,678,int64
19,calidad_ingresos_familiares,0,0.000000,0,0.000000,3,object
20,ingresos_familiares,0,0.000000,0,0.000000,8,category
21,ingreso_per_capita_familiar,0,0.000000,0,0.000000,10,category
22,estado_educativo,0,0.000000,0,0.000000,3,object
23,sector_educativo,3,0.000210,0,0.000000,4,object
24,nivel_actual,0,0.000000,0,0.000000,14,object
25,nivel_max_educativo,1054,0.073608,0,0.000000,7,object
26,años_escolaridad,62,0.004330,0,0.000000,5,category
27,lugar_nacimiento,1,0.000070,0,0.000000,7,object
28,afiliacion_salud,4,0.000279,0,0.000000,5,object
29,hijos_nacidos_vivos,7784,0.543613,0,0.000000,2,object
30,cantidad_hijos_nac_vivos,0,0.000000,0,0.000000,14,object

- No necesariamente siempre hay que rellenar los `NaN` en todas las columnas, porque quizás esa cantidad de `NaN` no es tan representativa para nuestro análisis. Así que podes eliminarlo para todo el dataframe o para ciertas columnas.

In [28]:
# Eliminar filas que contengan NaN
df2 = df2.dropna(subset=['situacion_conyugal', 'sector_educativo', 'lugar_nacimiento', 'afiliacion_salud'])

- Después de eliminar filas, podes resetear el índice para que mantenga la secuencia:

In [29]:
df2 = df2.reset_index(drop=True)

- Rellenar los datos faltantes para la columna `años_escolaridad`. Primero añadan la categoría `desconocido` y luego hacen un rellenado de los datos faltantes con `desconocido`.

In [30]:
# Primero: agregar la nueva categoría al dtype categórico
df2['años_escolaridad'] = df2['años_escolaridad'].cat.add_categories('desconocido')

# Segundo: ahora sí rellenar los NaN
df2['años_escolaridad'] = df2['años_escolaridad'].fillna('desconocido')


- Rellenar los datos faltantes para la columna `nivel_max_educativo` con `value=desconocido`

In [31]:
df2['nivel_max_educativo'].unique()

array(['Otras escuelas especiales', 'Secundario/medio comun',
       'EGB (1° a 9° año)', 'Primario especial', nan, 'Primario comun',
       'Sala de 5', 'No corresponde'], dtype=object)

In [32]:
df2['nivel_max_educativo'] = df2['nivel_max_educativo'].fillna('desconocido')

Si hacen status(data) deberían obtener lo siguiente:

In [33]:
status(df2)

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,id,0,0.000000,0,0.00000,5795,int64
1,nhogar,0,0.000000,0,0.00000,7,object
2,miembro,0,0.000000,0,0.00000,19,int64
3,comuna,0,0.000000,0,0.00000,15,object
4,dominio,0,0.000000,0,0.00000,2,object
5,edad,0,0.000000,0,0.00000,5,category
6,sexo,0,0.000000,0,0.00000,2,object
7,parentesco_jefe,0,0.000000,0,0.00000,9,object
8,situacion_conyugal,0,0.000000,0,0.00000,7,object
9,num_miembro_padre,0,0.000000,0,0.00000,9,object
10,num_miembro_madre,0,0.000000,0,0.00000,11,object
11,estado_ocupacional,0,0.000000,0,0.00000,3,object
12,cat_ocupacional,0,0.000000,0,0.00000,5,object
13,calidad_ingresos_lab,0,0.000000,0,0.00000,4,object
14,ingreso_total_lab,0,0.000000,0,0.00000,6,category
15,calidad_ingresos_no_lab,0,0.000000,0,0.00000,4,object
16,ingreso_total_no_lab,0,0.000000,0,0.00000,2,category
17,calidad_ingresos_totales,0,0.000000,0,0.00000,4,object
18,ingresos_totales,0,0.000000,4290,0.29979,678,int64
19,calidad_ingresos_familiares,0,0.000000,0,0.00000,3,object
20,ingresos_familiares,0,0.000000,0,0.00000,8,category
21,ingreso_per_capita_familiar,0,0.000000,0,0.00000,10,category
22,estado_educativo,0,0.000000,0,0.00000,3,object
23,sector_educativo,0,0.000000,0,0.00000,4,object
24,nivel_actual,0,0.000000,0,0.00000,14,object
25,nivel_max_educativo,0,0.000000,0,0.00000,8,object
26,años_escolaridad,0,0.000000,0,0.00000,6,category
27,lugar_nacimiento,0,0.000000,0,0.00000,7,object
28,afiliacion_salud,0,0.000000,0,0.00000,5,object
29,hijos_nacidos_vivos,7779,0.543606,0,0.00000,2,object
30,cantidad_hijos_nac_vivos,0,0.000000,0,0.00000,14,object

# Consigna 2

## 5) One hot encoding

- Hagan `data_ohe = pd.get_dummies(data)`
- Guardar `data_ohe` en un archivo pickle como vimos en clase con el nombre `categories_ohe.pickle`.
- Carguen el dataset `new_data = pd.read_csv("new_data.csv", sep=',')`
- A `new_data` hagan un reindex con las columnas que guardaron el archivo pickle y para los valores `NaN` rellenenlos con un `0`.

In [34]:
df_ohe = pd.get_dummies(df2)

In [35]:
df_ohe.columns

Index(['id', 'miembro', 'ingresos_totales', 'nhogar_1', 'nhogar_2', 'nhogar_3',
       'nhogar_4', 'nhogar_5', 'nhogar_6', 'nhogar_7',
       ...
       'cantidad_hijos_nac_vivos_15', 'cantidad_hijos_nac_vivos_2',
       'cantidad_hijos_nac_vivos_3', 'cantidad_hijos_nac_vivos_4',
       'cantidad_hijos_nac_vivos_5', 'cantidad_hijos_nac_vivos_6',
       'cantidad_hijos_nac_vivos_7', 'cantidad_hijos_nac_vivos_8',
       'cantidad_hijos_nac_vivos_9',
       'cantidad_hijos_nac_vivos_No corresponde'],
      dtype='object', length=182)

In [36]:
import pickle

with open('categories_ohe.pickle', 'wb') as handle:
    pickle.dump(df_ohe.columns, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [37]:
new_data = pd.read_csv("/content/drive/MyDrive/BOOTCAMP - GERIES 4/TP4/jueves_tarea__dataset/new_data.csv", sep=',')

In [38]:
with open('categories_ohe.pickle', 'rb') as handle:
    ohe_tr = pickle.load(handle)

In [39]:
ohe_tr

Index(['id', 'miembro', 'ingresos_totales', 'nhogar_1', 'nhogar_2', 'nhogar_3',
       'nhogar_4', 'nhogar_5', 'nhogar_6', 'nhogar_7',
       ...
       'cantidad_hijos_nac_vivos_15', 'cantidad_hijos_nac_vivos_2',
       'cantidad_hijos_nac_vivos_3', 'cantidad_hijos_nac_vivos_4',
       'cantidad_hijos_nac_vivos_5', 'cantidad_hijos_nac_vivos_6',
       'cantidad_hijos_nac_vivos_7', 'cantidad_hijos_nac_vivos_8',
       'cantidad_hijos_nac_vivos_9',
       'cantidad_hijos_nac_vivos_No corresponde'],
      dtype='object', length=182)

In [40]:
pd.get_dummies(new_data)

,id,nhogar,miembro,comuna,edad,ingreso_total_lab,ingreso_total_no_lab,ingresos_totales,ingresos_familiares,ingreso_per_capita_familiar,...,nivel_actual_Universitario,nivel_max_educativo_Otras escuelas especiales,lugar_nacimiento_CABA,lugar_nacimiento_Otra provincia,lugar_nacimiento_PBA excepto GBA,afiliacion_salud_Otros,afiliacion_salud_Solo obra social,afiliacion_salud_Solo plan de medicina prepaga por contratación voluntaria,hijos_nacidos_vivos_No,cantidad_hijos_nac_vivos_No corresponde
0,21,1,1,3,20,0,4000,4000,4000,4000,...,True,True,False,True,False,False,False,True,False,True
1,22,1,1,12,20,0,22000,22000,22000,22000,...,True,True,False,False,True,False,True,False,False,True
2,23,1,1,14,20,10000,15000,25000,55000,27500,...,True,True,True,False,False,True,False,False,False,True
3,23,1,2,14,21,30000,0,30000,55000,27500,...,True,True,True,False,False,False,False,True,True,True
4,24,1,1,7,20,0,20000,20000,20000,20000,...,True,True,False,True,False,False,False,True,False,True

In [41]:
pd.get_dummies(new_data).reindex(columns = ohe_tr)

,id,miembro,ingresos_totales,nhogar_1,nhogar_2,nhogar_3,nhogar_4,nhogar_5,nhogar_6,nhogar_7,...,cantidad_hijos_nac_vivos_15,cantidad_hijos_nac_vivos_2,cantidad_hijos_nac_vivos_3,cantidad_hijos_nac_vivos_4,cantidad_hijos_nac_vivos_5,cantidad_hijos_nac_vivos_6,cantidad_hijos_nac_vivos_7,cantidad_hijos_nac_vivos_8,cantidad_hijos_nac_vivos_9,cantidad_hijos_nac_vivos_No corresponde
0,21,1,4000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1,22,1,22000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
2,23,1,25000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
3,23,2,30000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
4,24,1,20000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

In [42]:
d_tr_ohe_2 = pd.get_dummies(new_data).reindex(columns = ohe_tr).fillna(0)

In [43]:
# ESTE ES EL CAMBIO:

# d_tr_ohe_2['cantidad_hijos_nac_vivos_No corresponde']=d_tr_ohe_2['cantidad_hijos_nac_vivos_No corresponde'].astype(int)
d_tr_ohe_2['cantidad_hijos_nac_vivos_No corresponde']=d_tr_ohe_2['cantidad_hijos_nac_vivos_No corresponde'].astype(float)

In [45]:
d_tr_ohe_2

,id,miembro,ingresos_totales,nhogar_1,nhogar_2,nhogar_3,nhogar_4,nhogar_5,nhogar_6,nhogar_7,...,cantidad_hijos_nac_vivos_15,cantidad_hijos_nac_vivos_2,cantidad_hijos_nac_vivos_3,cantidad_hijos_nac_vivos_4,cantidad_hijos_nac_vivos_5,cantidad_hijos_nac_vivos_6,cantidad_hijos_nac_vivos_7,cantidad_hijos_nac_vivos_8,cantidad_hijos_nac_vivos_9,cantidad_hijos_nac_vivos_No corresponde
0,21,1,4000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,22,1,22000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,23,1,25000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,23,2,30000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,24,1,20000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [46]:
status(d_tr_ohe_2)

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,id,0,0.0,0,0.0,4,int64
1,miembro,0,0.0,0,0.0,2,int64
2,ingresos_totales,0,0.0,0,0.0,5,int64
3,nhogar_1,0,0.0,5,1.0,1,float64
4,nhogar_2,0,0.0,5,1.0,1,float64
...,...,...,...,...,...,...,...
177,cantidad_hijos_nac_vivos_6,0,0.0,5,1.0,1,float64
178,cantidad_hijos_nac_vivos_7,0,0.0,5,1.0,1,float64
179,cantidad_hijos_nac_vivos_8,0,0.0,5,1.0,1,float64
180,cantidad_hijos_nac_vivos_9,0,0.0,5,1.0,1,float64
181,cantidad_hijos_nac_vivos_No corresponde,0,0.0,0,0.0,1,float64

COMENTARIO DE CARLA: No sé por qué me quedaron TRUE en lugar de 1 en "cantidad_hijos_nac_vivos_No corresponde", sé que básicamente es lo mismo pero no sé por qué la diferencia.

In [47]:
#Holaaaaaa

# Consigna 3

Cargar su notebook y datasets a un repositorio público personal y compartirlo por Discord.
<br>Consideren usar git lfs para los dataset con extensión csv.

In [48]:
# https://github.com/crgeier/Grupo_2_DatosVivos_TP4

In [49]:
#d_tr_ohe_2
#df2
ruta1 = '/content/drive/MyDrive/BOOTCAMP - GERIES 4/TP4/df2-consigna1.csv'
ruta2 = '/content/drive/MyDrive/BOOTCAMP - GERIES 4/TP4/d_tr_ohe_2-consigna2.csv'
 # Cambia "MyDrive" o la ruta si tienes carpetas específicas

# Guardar como CSV
df.to_csv(ruta1, index=False)
df.to_csv(ruta2, index=False)